{:assets 
{}
 :current-tab 0
 
 :manifest 
{:dependencies 
{}
 :description "Example code"
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "icmc2020"
 :url "https://kronoslang.io"
 :version "0.1"}
 :name "icmc2020"
 :tabs ("tabs/draft.initial.edn" "tabs/FDN_Test-Signal.c9k1t4dsjkytqij.edn" "tabs/FDN_Reverb.w7t86zx8f6emmm8.edn" "tabs/FDN_Butterfly.28t8355gx6bc7o1.edn" "tabs/FDN_Delay-Line.09xcj688opil3s3.edn" "tabs/Shaker_Synth.r9859flqf51drao.edn" "tabs/Shaker_Stimulus.30ndbcghf0lq5q5.edn" "tabs/Shaker_Body.lo5a4j6r37s9xes.edn")}