{:identity "r9859flqf51drao"
 :patch
{:cables
{["3s5by81lo9ddsi" 0] [:fixed "g8xruwc1nrmbwhi" 0]
 ["5yi4xmbf4h8vmnx" 0] [:fixed "edjb9rsu26fd2q2" 0]
 ["5yi4xmbf4h8vmnx" 1] [:fixed "c2fonjpj2d3a28" 0]
 ["5yi4xmbf4h8vmnx" 2] [:fixed "p9umq7u51u45yzl" 0]
 ["93fgu2xzf6nopd2" 0] [:fixed "bjv7lq54n2l5x2b" 0]
 ["a2q7n2k2r20bc07" 0] [:fixed "mc9b8kn75rf1ajv" 0]
 ["a8rqqwy0eha4a8a" 0] [:fixed "axi37fasya85pqe" 0]
 ["a8rqqwy0eha4a8a" 1] [:fixed "apwwlg8g66dd89" 0]
 ["apwwlg8g66dd89" 0] [:fixed "93fgu2xzf6nopd2" 0]
 ["apwwlg8g66dd89" 1] [:fixed "yu25psqmhd6s1ou" 0]
 ["axi37fasya85pqe" 0] [:fixed "fc5ir545ebbct5y" 0]
 ["axi37fasya85pqe" 1] [:fixed "fc5ir545ebbct5y" 3]
 ["bjv7lq54n2l5x2b" 0] [:fixed "fc5ir545ebbct5y" 1]
 ["c2fonjpj2d3a28" 0] [:fixed "a8rqqwy0eha4a8a" 0]
 ["c2fonjpj2d3a28" 1] [:fixed "fc5ir545ebbct5y" 4]
 ["edjb9rsu26fd2q2" 0] [:fixed "93fgu2xzf6nopd2" 0]
 ["kkw21omt743wxs" 0] [:fixed "qpf1mcjof9upfnh" 0]
 ["mc9b8kn75rf1ajv" 0] [:fixed "kkw21omt743wxs" 0]
 ["mc9b8kn75rf1ajv" 1] [:fixed "3s5by81lo9ddsi" 0]
 ["p9umq7u51u45yzl" 0] [:fixed "a2q7n2k2r20bc07" 0]
 ["p9umq7u51u45yzl" 1] [:fixed "qpf1mcjof9upfnh" 0]
 ["qpf1mcjof9upfnh" 0] [:fixed "fc5ir545ebbct5y" 2]
 ["yu25psqmhd6s1ou" 0] [:fixed "qpf1mcjof9upfnh" 0]}
 :nodes
{"3s5by81lo9ddsi" 
{:inputs ["a"]
 :label "Math:Log($a)"
 :outputs [""]
 :parsed [:fn "Math:Log" [:tuple [:free-var "a"]]]
 :pos [-383 -357]
 }
 "5yi4xmbf4h8vmnx" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [298 40]
 }
 "93fgu2xzf6nopd2" 
{:inputs ["seed"]
 :label "Gen:Drift($seed)"
 :outputs [""]
 :parsed [:fn "Gen:Drift" [:tuple [:free-var "seed"]]]
 :pos [-233 -31]
 }
 "a2q7n2k2r20bc07" 
{:inputs ["a"]
 :label "* 40"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "40"]]
 :pos [-59 -233]
 }
 "a8rqqwy0eha4a8a" 
{:ephemeral-inputs #{}
 :inputs ["a" "b" "more..."]
 :label "&"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "&" [:free-var "b"] [:free-var "more..."]]
 :pos [8 78]
 }
 "apwwlg8g66dd89" 
{:inputs ["a" "b" "more..."]
 :label "<"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "<" [:free-var "b"] [:free-var "more..."]]
 :pos [-55 -73]
 }
 "axi37fasya85pqe" 
{:cable-midpoints 
{0 [47 175]
 1 [252 37]}
 :inputs ["sig" "cutoff"]
 :label "Filter:Tone($sig $cutoff)"
 :outputs [""]
 :parsed [:fn "Filter:Tone" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [-159 34]
 }
 "bjv7lq54n2l5x2b" 
{:cable-midpoints 
{0 [24 106]}
 :inputs ["count"]
 :label "Vector:Indices($count)"
 :outputs [""]
 :parsed [:fn "Vector:Indices" [:tuple [:free-var "count"]]]
 :pos [-369 -31]
 }
 "c2fonjpj2d3a28" 
{:cable-midpoints 
{1 [490 0]}
 :inputs ["sig" "feedback"]
 :label "Filter:Integrate($sig $feedback)"
 :outputs [""]
 :parsed [:fn "Filter:Integrate" [:tuple [:free-var "sig"] [:free-var "feedback"]]]
 :pos [172 -50]
 }
 "edjb9rsu26fd2q2" 
{:inputs ["a"]
 :label "- 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "1"]]
 :pos [149 40]
 }
 "fc5ir545ebbct5y" 
{:inputs []
 :label "(sig streams beans system-decay sound-decay) = arg"
 :outputs ["sig" "streams" "beans" "system-decay" "sound-decay"]
 :parsed "arg"
 :pos [-581 -269]
 }
 "g8xruwc1nrmbwhi" 
{:inputs []
 :label "4"
 :outputs [""]
 :parsed [:float "4"]
 :pos [-504 -359]
 }
 "kkw21omt743wxs" 
{:inputs ["a"]
 :label "Math:Log($a)"
 :outputs [""]
 :parsed [:fn "Math:Log" [:tuple [:free-var "a"]]]
 :pos [-263 -233]
 }
 "mc9b8kn75rf1ajv" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-157 -233]
 }
 "p9umq7u51u45yzl" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [44 -233]
 }
 "qpf1mcjof9upfnh" 
{:cable-midpoints 
{0 [53 -33]}
 :inputs ["beans"]
 :label "$beans"
 :outputs [""]
 :parsed [:free-var "beans"]
 :pos [-339 -306]
 }
 "yu25psqmhd6s1ou" 
{:cable-midpoints 
{}
 :inputs ["a"]
 :label "/ 512"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "512"]]
 :pos [-120 -141]
 }}
 :scale 1
 :scroll [0 0]}}