{:identity "initial"
 :patch
{:cables
{["6sy4jz99mfwjp2g" 0] [:fixed "tkpvfn5qvqzfkf1" 0]
 ["6sy4jz99mfwjp2g" 1] [:fixed "4uc1ufmdcb2jm7v" 0]
 ["6sy4jz99mfwjp2g" 2] [:fixed "qnjkhk1voyhy47u" 0]
 ["6sy4jz99mfwjp2g" 3] [:fixed "6089nqbtu83f4c9" 0]
 ["6sy4jz99mfwjp2g" 4] [:fixed "4hf8jv9svdt4dcr" 0]
 ["6z2bmrwrc9l8ktw" 0] [:fixed "rs4bom6r0a4s3c3" 0]
 ["6z2bmrwrc9l8ktw" 1] [:fixed "hea4ylndv1ylho" 0]
 ["6z2bmrwrc9l8ktw" 2] [:fixed "4d66hdf5w2uvifk" 0]
 ["6z2bmrwrc9l8ktw" 3] [:fixed "4u11lsxzvcj07" 0]
 ["6z2bmrwrc9l8ktw" 4] [:fixed "8rnzyncldkh1uf1" 0]
 ["6z2bmrwrc9l8ktw" 5] [:fixed "hi04rc5or6bwb4c" 0]
 ["q0h94x14itu3nky" 0] [:fixed "6z2bmrwrc9l8ktw" 0]
 ["rs4bom6r0a4s3c3" 0] [:fixed "6sy4jz99mfwjp2g" 0]
 ["rs4bom6r0a4s3c3" 1] [:fixed "1h26rt21h3bhwkc" 0]
 ["tkpvfn5qvqzfkf1" 0] [:fixed "bv2b92ciw4xs8ta" 0]
 ["tkpvfn5qvqzfkf1" 1] [:fixed "sa673sy2mi12lff" 0]}
 :nodes
{"1h26rt21h3bhwkc" 
{:inputs []
 :label "[[2300 5600 8100] [0.96 0.99 0.99] [0.1 0.8 1.0]]"
 :outputs [""]
 :parsed [:list [:list [:float "2300"] [:float "5600"] [:float "8100"]] [:list [:float "0.96"] [:float "0.99"] [:float "0.99"]] [:list [:float "0.1"] [:float "0.8"] [:float "1.0"]]]
 :pos [-348 218]
 }
 "4d66hdf5w2uvifk" 
{:inputs []
 :label "0.01 -x- 0.25"
 :name "predelay"
 :outputs [""]
 :parsed [:widget "-fj3r32" 0.7611903599330357 {:type :slider, :limits [[:float "0.01"] [:float "0.25"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [1 -279]
 }
 "4hf8jv9svdt4dcr" 
{:inputs []
 :label "0.995"
 :outputs [""]
 :parsed [:float "0.995"]
 :pos [-316 -167]
 }
 "4u11lsxzvcj07" 
{:inputs []
 :label "0 -o- 1"
 :name "hi-freq decay rate"
 :outputs [""]
 :parsed [:widget "-gs4pqj" 0.52547607421875 {:type :slider, :limits [[:float "0"] [:float "1"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [130 -281]
 }
 "4uc1ufmdcb2jm7v" 
{:inputs []
 :label "#1"
 :outputs [""]
 :parsed [:invariant "1"]
 :pos [-316 -2]
 }
 "6089nqbtu83f4c9" 
{:inputs []
 :label "0.9999"
 :outputs [""]
 :parsed [:float "0.9999"]
 :pos [-316 -112]
 }
 "6sy4jz99mfwjp2g" 
{:inputs ["sig" "streams" "beans" "system-decay" "sound-decay"]
 :label "Shaker:Synth($sig $streams $beans $system-decay $sound-decay)"
 :outputs [""]
 :parsed [:fn "Shaker:Synth" [:tuple [:free-var "sig"] [:free-var "streams"] [:free-var "beans"] [:free-var "system-decay"] [:free-var "sound-decay"]]]
 :pos [-175 110]
 }
 "6z2bmrwrc9l8ktw" 
{:color 2
 :inputs ["sig" "rt60" "predelay" "damp" "tone" "mix"]
 :label "FDN($sig $rt60 $predelay $damp $tone $mix)"
 :outputs [""]
 :parsed [:fn "FDN:Reverb" [:tuple [:free-var "sig"] [:free-var "rt60"] [:free-var "predelay"] [:free-var "damp"] [:free-var "tone"] [:free-var "mix"]]]
 :pos [280 39]
 }
 "8rnzyncldkh1uf1" 
{:inputs []
 :label "2000 -x- 20000"
 :name "tone"
 :outputs [""]
 :parsed [:widget "-96t11x" 0.62547607421875 {:type :slider, :limits [[:float "2000"] [:float "20000"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [226 -281]
 }
 "bv2b92ciw4xs8ta" 
{:inputs []
 :label "2"
 :outputs [""]
 :pos [-574 37]
 }
 "hea4ylndv1ylho" 
{:inputs []
 :label "0.5 -x- 20"
 :name "decay time"
 :outputs [""]
 :parsed [:widget "8ri94n" 0.6111903599330357 {:type :slider, :limits [[:float "0.5"] [:float "20"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [-92 -282]
 }
 "hi04rc5or6bwb4c" 
{:inputs []
 :label "0 -o- 1"
 :name "wet/dry"
 :outputs [""]
 :parsed [:widget "-1a16o" 0.3897617885044643 {:type :slider, :limits [[:float "0"] [:float "1"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [321 -281]
 }
 "q0h94x14itu3nky" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [487 90]
 }
 "qnjkhk1voyhy47u" 
{:inputs []
 :label "64"
 :outputs [""]
 :parsed [:float "64"]
 :pos [-316 -57]
 }
 "rs4bom6r0a4s3c3" 
{:flip-y true
 :inputs ["sig" "params"]
 :label "Shaker:Body($sig $params)"
 :outputs [""]
 :parsed [:fn "Shaker:Body" [:tuple [:free-var "sig"] [:free-var "params"]]]
 :pos [72 150]
 }
 "sa673sy2mi12lff" 
{:inputs []
 :label "4"
 :outputs [""]
 :parsed [:float "4"]
 :pos [-513 -63]
 }
 "tkpvfn5qvqzfkf1" 
{:inputs ["rate" "sharpness"]
 :label "Shaker:Stimulus($rate $sharpness)"
 :outputs [""]
 :parsed [:fn "Shaker:Stimulus" [:tuple [:free-var "rate"] [:free-var "sharpness"]]]
 :pos [-414 64]
 }}
 :scale 1
 :scroll [0 0]}}