{:draft-argument "Gen:Noise(0.499d) 1500 0.99"
 :identifier "Shaker:Resonator"
 :identity "4faejvwqdmgduz"
 :patch
{:cables
{["1ltku218srnbwj0" 0] [:fixed "1v5v001qg2nw1fn" 0]
 ["1ltku218srnbwj0" 1] [:fixed "6egpzuswj1derot" 2]
 ["1v5v001qg2nw1fn" 0] [:fixed "4nzd4iax45t6ei2" 0]
 ["4nzd4iax45t6ei2" 0] [:fixed "vhvg46lxixnqfyd" 0]
 ["5ag8iz45zbq6866" 0] [:fixed "6egpzuswj1derot" 1]
 ["c7o4q8dnkksg1s5" 0] [:fixed "6egpzuswj1derot" 0]
 ["c7o4q8dnkksg1s5" 1] [:fixed "7o2uk423ofg3l27" 0]
 ["c7o4q8dnkksg1s5" 2] [:fixed "ftzbczcj13btsd5" 0]
 ["c7o4q8dnkksg1s5" 3] [:fixed "sqopxaqen6xse2i" 0]
 ["c7o4q8dnkksg1s5" 4] [:fixed "1ltku218srnbwj0" 0]
 ["c7o4q8dnkksg1s5" 5] [:fixed "n7tdft4o263mjtx" 0]
 ["f225xs7xdvxeoy5" 0] [:fixed "6egpzuswj1derot" 0]
 ["k0m1zcu0wqj5l5d" 0] [:fixed "5ag8iz45zbq6866" 0]
 ["n7tdft4o263mjtx" 0] [:fixed "6egpzuswj1derot" 2]
 ["n7tdft4o263mjtx" 1] [:fixed "6egpzuswj1derot" 2]
 ["vhvg46lxixnqfyd" 0] [:fixed "k0m1zcu0wqj5l5d" 0]
 ["vhvg46lxixnqfyd" 1] [:fixed "f225xs7xdvxeoy5" 0]}
 :nodes
{"1ltku218srnbwj0" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [331 -30]
 }
 "1v5v001qg2nw1fn" 
{:inputs ["a"]
 :label "* -2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "-2"]]
 :pos [239 -72]
 }
 "4nzd4iax45t6ei2" 
{:inputs ["a"]
 :label "Math:Cos($a)"
 :outputs [""]
 :parsed [:fn "Math:Cos" [:tuple [:free-var "a"]]]
 :pos [124 -72]
 }
 "5ag8iz45zbq6866" 
{:inputs ["a"]
 :label "* Math:Pi"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" "Math:Pi"]
 :pos [-222 -72]
 }
 "6egpzuswj1derot" 
{:color 0
 :inputs []
 :label "(sig res r) = arg"
 :outputs ["sig" "res" "r"]
 :parsed "arg"
 :pos [-368 4]
 }
 "7o2uk423ofg3l27" 
{:inputs []
 :label "1"
 :outputs [""]
 :parsed [:float "1"]
 :pos [-213 167]
 }
 "c7o4q8dnkksg1s5" 
{:inputs ["sig" "a0" "a1" "a2" "b1" "b2"]
 :label "Filter:Biquad($sig $a0 $a1 $a2 $b1 $b2)"
 :outputs [""]
 :parsed [:fn "Filter:Biquad" [:tuple [:free-var "sig"] [:free-var "a0"] [:free-var "a1"] [:free-var "a2"] [:free-var "b1"] [:free-var "b2"]]]
 :pos [275 268]
 }
 "f225xs7xdvxeoy5" 
{:inputs ["sig"]
 :label "Rate-of($sig)"
 :outputs [""]
 :parsed [:fn "Rate-of" [:tuple [:free-var "sig"]]]
 :pos [-161 -174]
 }
 "ftzbczcj13btsd5" 
{:inputs []
 :label "-1"
 :outputs [""]
 :parsed [:float "-1"]
 :pos [-103 167]
 }
 "k0m1zcu0wqj5l5d" 
{:inputs ["a"]
 :label "* 2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "2"]]
 :pos [-107 -72]
 }
 "n7tdft4o263mjtx" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [167 108]
 }
 "sqopxaqen6xse2i" 
{:inputs []
 :label "#0"
 :outputs [""]
 :parsed [:invariant "0"]
 :pos [20 167]
 }
 "vhvg46lxixnqfyd" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [9 -72]
 }}
 :scale 0.885982894701618
 :scroll [0 0]}}