{:documentation "Output approaches 'sig'nal asymptotically, reaching 90% of the way in 'lag' seconds."
 :draft-argument "Gen:Pulse(1 0.5) 0.005"
 :identifier "Shaker:Lag"
 :identity "8il90ptyfkq975x"
 :patch
{:cables
{["7dn2oqe1o76ibyj" 0] [:fixed "lhbhe44qr1ca2l3" 0]
 ["90ae6dddm70b7r6" 0] [:fixed "sk7cmyyiv6l2zbv" 0]
 ["lhbhe44qr1ca2l3" 0] [:fixed "hetsv0b4biun3pf" 0]
 ["lhbhe44qr1ca2l3" 1] [:fixed "90ae6dddm70b7r6" 0]
 ["sk7cmyyiv6l2zbv" 0] [:fixed "tzkqcxqbr4um0xx" 0]
 ["sk7cmyyiv6l2zbv" 1] [:fixed "62s970207sabsez" 0]
 ["swf6q1qjwves2e8" 0] [:fixed "m14prf5w93dh597" 0]
 ["swf6q1qjwves2e8" 1] [:fixed "7dn2oqe1o76ibyj" 0]
 ["tzkqcxqbr4um0xx" 0] [:fixed "w49x3s4jd838wcw" 0]
 ["tzkqcxqbr4um0xx" 1] [:fixed "m14prf5w93dh597" 1]
 ["w49x3s4jd838wcw" 0] [:fixed "m14prf5w93dh597" 0]}
 :nodes
{"62s970207sabsez" 
{:inputs []
 :label "1"
 :outputs [""]
 :parsed [:float "1"]
 :pos [-40 -149]
 }
 "7dn2oqe1o76ibyj" 
{:inputs ["b"]
 :label "1 -"
 :outputs [""]
 :parsed [:infix [:float "1"] "-" [:free-var "b"]]
 :pos [248 90]
 }
 "90ae6dddm70b7r6" 
{:inputs ["b"]
 :label "1 /"
 :outputs [""]
 :parsed [:infix [:float "1"] "/" [:free-var "b"]]
 :pos [117 -13]
 }
 "hetsv0b4biun3pf" 
{:inputs []
 :label "0.1"
 :outputs [""]
 :parsed [:float "0.1"]
 :pos [26 86]
 }
 "lhbhe44qr1ca2l3" 
{:inputs ["a" "b"]
 :label "Math:Pow($a $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [148 91]
 }
 "m14prf5w93dh597" 
{:color 0
 :inputs []
 :label "(sig lag) = arg"
 :outputs ["sig" "lag"]
 :parsed "arg"
 :pos [-311 73]
 :selected true}
 "sk7cmyyiv6l2zbv" 
{:inputs ["a" "b"]
 :label "Max($a $b)"
 :outputs [""]
 :parsed [:fn "Max" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [24 -13]
 }
 "swf6q1qjwves2e8" 
{:inputs ["sig" "cutoff"]
 :label "Filter:Tone($sig $cutoff)"
 :outputs [""]
 :parsed [:fn "Filter:Tone" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [322 209]
 }
 "tzkqcxqbr4um0xx" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-53 -13]
 }
 "w49x3s4jd838wcw" 
{:inputs ["sig"]
 :label "Rate-of($sig)"
 :outputs [""]
 :parsed [:fn "Rate-of" [:tuple [:free-var "sig"]]]
 :pos [-176 -13]
 }}
 :scale 1
 :scroll [0 0]}}