{:draft-argument "#1 "
 :identifier "Shaker:Synth"
 :identity "r9859flqf51drao"
 :patch
{:cables
{["3s5by81lo9ddsi" 0] [:fixed "g8xruwc1nrmbwhi" 0]
 ["57a7pl1uc4uqwp9" 0] [:fixed "fc5ir545ebbct5y" 1]
 ["5yi4xmbf4h8vmnx" 0] [:fixed "edjb9rsu26fd2q2" 0]
 ["5yi4xmbf4h8vmnx" 1] [:fixed "olb2839tp7yzujb" 0]
 ["5yi4xmbf4h8vmnx" 2] [:fixed "p9umq7u51u45yzl" 0]
 ["7xbx6ub2g93s4hc" 0] [:fixed "57a7pl1uc4uqwp9" 0]
 ["93fgu2xzf6nopd2" 0] [:fixed "7xbx6ub2g93s4hc" 0]
 ["a2q7n2k2r20bc07" 0] [:fixed "mc9b8kn75rf1ajv" 0]
 ["a8rqqwy0eha4a8a" 0] [:fixed "fc5ir545ebbct5y" 0]
 ["a8rqqwy0eha4a8a" 1] [:fixed "apwwlg8g66dd89" 0]
 ["apwwlg8g66dd89" 0] [:fixed "93fgu2xzf6nopd2" 0]
 ["apwwlg8g66dd89" 1] [:fixed "c2252fbn6scz6lm" 0]
 ["c2252fbn6scz6lm" 0] [:fixed "z0s6egw4t6qluz9" 0]
 ["c2252fbn6scz6lm" 1] [:fixed "lmqqkmsa8t9j0jj" 0]
 ["c2252fbn6scz6lm" 2] [:fixed "fc5ir545ebbct5y" 1]
 ["edjb9rsu26fd2q2" 0] [:fixed "93fgu2xzf6nopd2" 0]
 ["kkw21omt743wxs" 0] [:fixed "z0s6egw4t6qluz9" 0]
 ["kwb35h4z517czs7" 0] [:fixed "a8rqqwy0eha4a8a" 0]
 ["kwb35h4z517czs7" 1] [:fixed "fc5ir545ebbct5y" 3]
 ["mc9b8kn75rf1ajv" 0] [:fixed "kkw21omt743wxs" 0]
 ["mc9b8kn75rf1ajv" 1] [:fixed "3s5by81lo9ddsi" 0]
 ["olb2839tp7yzujb" 0] [:fixed "kwb35h4z517czs7" 0]
 ["olb2839tp7yzujb" 1] [:fixed "fc5ir545ebbct5y" 4]
 ["p9umq7u51u45yzl" 0] [:fixed "a2q7n2k2r20bc07" 0]
 ["p9umq7u51u45yzl" 1] [:fixed "z0s6egw4t6qluz9" 0]
 ["z0s6egw4t6qluz9" 0] [:fixed "fc5ir545ebbct5y" 2]}
 :nodes
{"3s5by81lo9ddsi" 
{:inputs ["a"]
 :label "Math:Log($a)"
 :outputs [""]
 :parsed [:fn "Math:Log" [:tuple [:free-var "a"]]]
 :pos [-261 -385]
 }
 "57a7pl1uc4uqwp9" 
{:cable-midpoints 
{}
 :inputs ["n"]
 :label "Algorithm:Count($n)"
 :outputs [""]
 :parsed [:fn "Algorithm:Count" [:tuple [:free-var "n"]]]
 :pos [-476 4]
 }
 "5yi4xmbf4h8vmnx" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [308 281]
 }
 "7xbx6ub2g93s4hc" 
{:inputs ["elements..."]
 :label "Vector:Vectorize($elements...)"
 :outputs [""]
 :parsed [:fn "Vector:Vectorize" [:tuple [:free-var "elements..."]]]
 :pos [-327 4]
 }
 "93fgu2xzf6nopd2" 
{:inputs ["seed"]
 :label "Gen:Drift($seed)"
 :outputs [""]
 :parsed [:fn "Gen:Drift" [:tuple [:free-var "seed"]]]
 :pos [-174 3]
 }
 "a2q7n2k2r20bc07" 
{:inputs ["a"]
 :label "* 40"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "40"]]
 :pos [-79 -247]
 }
 "a8rqqwy0eha4a8a" 
{:cable-midpoints 
{0 [396 43]}
 :ephemeral-inputs #{}
 :inputs ["a" "b" "more..."]
 :label "&"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "&" [:free-var "b"] [:free-var "more..."]]
 :pos [10 -46]
 }
 "apwwlg8g66dd89" 
{:cable-midpoints 
{}
 :inputs ["a" "b" "more..."]
 :label "<"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "<" [:free-var "b"] [:free-var "more..."]]
 :pos [-64 -92]
 }
 "c2252fbn6scz6lm" 
{:cable-midpoints 
{2 [198 -76]}
 :ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [-369 -166]
 }
 "edjb9rsu26fd2q2" 
{:cable-midpoints 
{}
 :inputs ["a"]
 :label "- 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "1"]]
 :pos [-25 25]
 }
 "fc5ir545ebbct5y" 
{:inputs []
 :label "(sig streams beans decay smooth) = arg"
 :outputs ["sig" "streams" "beans" "decay" "smooth"]
 :parsed "arg"
 :pos [-781 -114]
 }
 "g8xruwc1nrmbwhi" 
{:inputs []
 :label "4"
 :outputs [""]
 :parsed [:float "4"]
 :pos [-416 -385]
 }
 "kkw21omt743wxs" 
{:inputs ["a"]
 :label "Math:Log($a)"
 :outputs [""]
 :parsed [:fn "Math:Log" [:tuple [:free-var "a"]]]
 :pos [-258 -247]
 }
 "kwb35h4z517czs7" 
{:cable-midpoints 
{1 [104 92]}
 :inputs ["sig" "cutoff"]
 :label "Filter:Lpf6($sig $cutoff)"
 :outputs [""]
 :parsed [:fn "Filter:Lpf6" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [89 166]
 }
 "lmqqkmsa8t9j0jj" 
{:inputs []
 :label "Gen:Rate()"
 :outputs [""]
 :parsed [:fn "Gen:Rate" [:tuple]]
 :pos [-560 -248]
 }
 "mc9b8kn75rf1ajv" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-177 -247]
 }
 "olb2839tp7yzujb" 
{:cable-midpoints 
{1 [149 68]}
 :inputs ["sig" "cutoff"]
 :label "Filter:Lpf6($sig $cutoff)"
 :outputs [""]
 :parsed [:fn "Filter:Lpf6" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [226 166]
 }
 "p9umq7u51u45yzl" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [24 -247]
 }
 "z0s6egw4t6qluz9" 
{:cable-midpoints 
{}
 :inputs ["b"]
 :label "Max(#1 $b)"
 :outputs [""]
 :parsed [:fn "Max" [:tuple [:invariant "1"] [:free-var "b"]]]
 :pos [-493 -324]
 }}
 :scale 1
 :scroll [0 0]}}