{:identifier "Shaker->Reverb"
 :identity "initial"
 :patch
{:cables
{["6sy4jz99mfwjp2g" 0] [:fixed "vgtaxphb5dkqddy" 0]
 ["6sy4jz99mfwjp2g" 1] [:fixed "4uc1ufmdcb2jm7v" 0]
 ["6sy4jz99mfwjp2g" 2] [:fixed "qnjkhk1voyhy47u" 0]
 ["6sy4jz99mfwjp2g" 3] [:fixed "6089nqbtu83f4c9" 0]
 ["6sy4jz99mfwjp2g" 4] [:fixed "4hf8jv9svdt4dcr" 0]
 ["6z2bmrwrc9l8ktw" 0] [:fixed "rs4bom6r0a4s3c3" 0]
 ["6z2bmrwrc9l8ktw" 1] [:fixed "hea4ylndv1ylho" 0]
 ["6z2bmrwrc9l8ktw" 2] [:fixed "4d66hdf5w2uvifk" 0]
 ["6z2bmrwrc9l8ktw" 3] [:fixed "4u11lsxzvcj07" 0]
 ["6z2bmrwrc9l8ktw" 4] [:fixed "8rnzyncldkh1uf1" 0]
 ["6z2bmrwrc9l8ktw" 5] [:fixed "hi04rc5or6bwb4c" 0]
 ["7m27g5e1jsl91wr" 0] [:fixed "bj0lfmwzfv2hzml" 0]
 ["bj0lfmwzfv2hzml" 0] [:fixed "k3x7ynp2440f31x" 0]
 ["ibxckdtzmrbq4wn" 0] [:fixed "bv2b92ciw4xs8ta" 0]
 ["ibxckdtzmrbq4wn" 1] [:fixed "6t28bdlsq77g2ii" 0]
 ["k3x7ynp2440f31x" 0] [:fixed "ibxckdtzmrbq4wn" 0]
 ["q0h94x14itu3nky" 0] [:fixed "6z2bmrwrc9l8ktw" 0]
 ["rs4bom6r0a4s3c3" 0] [:fixed "6sy4jz99mfwjp2g" 0]
 ["rs4bom6r0a4s3c3" 1] [:fixed "1h26rt21h3bhwkc" 0]
 ["tkpvfn5qvqzfkf1" 0] [:fixed "bv2b92ciw4xs8ta" 0]
 ["tkpvfn5qvqzfkf1" 1] [:fixed "7m27g5e1jsl91wr" 0]
 ["vgtaxphb5dkqddy" 0] [:fixed "bt0g6gik4vnjj9c" 0]}
 :nodes
{"1h26rt21h3bhwkc" 
{:inputs []
 :label "([2300 5600 8100] [0.96 0.99 0.99] [0.1 0.8 1.0])"
 :outputs [""]
 :parsed [:tuple [:list [:float "2300"] [:float "5600"] [:float "8100"]] [:list [:float "0.96"] [:float "0.99"] [:float "0.99"]] [:list [:float "0.1"] [:float "0.8"] [:float "1.0"]]]
 :pos [-149 120]}
 "4d66hdf5w2uvifk" 
{:inputs []
 :label "0.01 -x- 0.25"
 :name "predelay"
 :outputs [""]
 :parsed [:widget "-fj3r32" 0.5094046456473215 {:type :slider, :limits [[:float "0.01"] [:float "0.25"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [200 -377]}
 "4hf8jv9svdt4dcr" 
{:inputs []
 :label "0.995"
 :outputs [""]
 :parsed [:float "0.995"]
 :pos [-137 -322]}
 "4u11lsxzvcj07" 
{:inputs []
 :label "0 -o- 1"
 :name "hi-freq decay rate"
 :outputs [""]
 :parsed [:widget "-gs4pqj" 0.8522617885044643 {:type :slider, :limits [[:float "0"] [:float "1"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [329 -379]}
 "4uc1ufmdcb2jm7v" 
{:inputs []
 :label "#1"
 :outputs [""]
 :parsed [:invariant "1"]
 :pos [-137 -157]}
 "6089nqbtu83f4c9" 
{:inputs []
 :label "0.9999"
 :outputs [""]
 :parsed [:float "0.9999"]
 :pos [-137 -267]}
 "6sy4jz99mfwjp2g" 
{:color 3
 :inputs ["sig" "streams" "beans" "system-decay" "sound-decay"]
 :label "Shaker:Synth($sig $streams $beans $system-decay $sound-decay)"
 :outputs [""]
 :parsed [:fn "Shaker:Synth" [:tuple [:free-var "sig"] [:free-var "streams"] [:free-var "beans"] [:free-var "system-decay"] [:free-var "sound-decay"]]]
 :pos [41 -59]}
 "6t28bdlsq77g2ii" 
{:inputs []
 :label "4"
 :outputs [""]
 :parsed [:number-widget :float "daa3gk" "8" ""]
 :pos [-755 -102]}
 "6z2bmrwrc9l8ktw" 
{:color 3
 :inputs ["sig" "rt60" "predelay" "damp" "tone" "mix"]
 :label "FDN($sig $rt60 $predelay $damp $tone $mix)"
 :outputs [""]
 :parsed [:fn "FDN:Reverb" [:tuple [:free-var "sig"] [:free-var "rt60"] [:free-var "predelay"] [:free-var "damp"] [:free-var "tone"] [:free-var "mix"]]]
 :pos [509 -59]}
 "7m27g5e1jsl91wr" 
{:inputs ["a"]
 :label "* 4"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "4"]]
 :pos [-384 -83]}
 "8rnzyncldkh1uf1" 
{:inputs []
 :label "2000 -x- 20000"
 :name "tone"
 :outputs [""]
 :parsed [:widget "-96t11x" 0.6451189313616071 {:type :slider, :limits [[:float "2000"] [:float "20000"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [425 -379]}
 "bj0lfmwzfv2hzml" 
{:inputs ["a"]
 :label "+ 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "1"]]
 :pos [-485 -83]}
 "bt0g6gik4vnjj9c" 
{:color 3
 :inputs []
 :label "Adafruit()"
 :outputs [""]
 :parsed [:fn "Adafruit" [:tuple]]
 :pos [-668 -213]}
 "bv2b92ciw4xs8ta" 
{:inputs []
 :label "2"
 :outputs [""]
 :parsed [:number-widget :float "-ykbvoc" "1" ""]
 :pos [-700 95]}
 "hea4ylndv1ylho" 
{:inputs []
 :label "0.5 -x- 20"
 :name "decay time"
 :outputs [""]
 :parsed [:widget "8ri94n" 0.5594046456473214 {:type :slider, :limits [[:float "0.5"] [:float "20"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [107 -380]}
 "hi04rc5or6bwb4c" 
{:inputs []
 :label "0 -o- 1"
 :name "wet/dry"
 :outputs [""]
 :parsed [:widget "-1a16o" 0.4862500871930804 {:type :slider, :limits [[:float "0"] [:float "1"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [520 -379]}
 "ibxckdtzmrbq4wn" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-652 -3]}
 "k3x7ynp2440f31x" 
{:inputs ["freq"]
 :label "Gen:Tri($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Tri" [:tuple [:free-var "freq"]]]
 :pos [-587 -83]}
 "q0h94x14itu3nky" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [686 -8]}
 "qnjkhk1voyhy47u" 
{:inputs []
 :label "64"
 :outputs [""]
 :parsed [:number-widget :float "h3oz59" "36" ""]
 :pos [-137 -212]}
 "rs4bom6r0a4s3c3" 
{:color 3
 :flip-y true
 :inputs ["sig" "params"]
 :label "Shaker:Body($sig $params)"
 :outputs [""]
 :parsed [:fn "Shaker:Body" [:tuple [:free-var "sig"] [:free-var "params"]]]
 :pos [275 -59]}
 "tkpvfn5qvqzfkf1" 
{:color 3
 :inputs ["rate" "sharpness"]
 :label "Shaker:Stimulus($rate $sharpness)"
 :outputs [""]
 :parsed [:fn "Shaker:Stimulus" [:tuple [:free-var "rate"] [:free-var "sharpness"]]]
 :pos [-329 12]}
 "vgtaxphb5dkqddy" 
{:color 3
 :inputs ["a"]
 :label "/ 1000"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "1000"]]
 :pos [-464 -213]}}
 :scale 0.9265629353920122
 :scroll [0 0]}}