{:draft-argument "adafruit(10 1)"
 :export 
{:arguments 
{"acceleration" 
{:signal-type "audio"}}
 :export-this-tab true}
 :identifier "tambourine"
 :identity "initial"
 :patch
{:cables
{["0721jega3l7f2it" 0] [:fixed "o6b5rp27w5vt4ti" 0]
 ["koeeadb7mnxymgw" 0] [:fixed "ro3mts6tg3a539k" 0]
 ["o6b5rp27w5vt4ti" 0] [:fixed "sbuzx1ycq9mctzy" 0]
 ["o6b5rp27w5vt4ti" 1] [:fixed "3ou2n95y47uc5f6" 0]
 ["o6b5rp27w5vt4ti" 2] [:fixed "oldoa9dp9dnp2c6" 0]
 ["o6b5rp27w5vt4ti" 3] [:fixed "5rw41gvoc3ou5j9" 0]
 ["o6b5rp27w5vt4ti" 4] [:fixed "vi9yyxax38ast8t" 0]
 ["o6b5rp27w5vt4ti" 5] [:fixed "0nncubcgya815m6" 0]
 ["ro3mts6tg3a539k" 0] [:fixed "0721jega3l7f2it" 0]
 ["ro3mts6tg3a539k" 1] [:fixed "1h26rt21h3bhwkc" 0]}
 :nodes
{"0721jega3l7f2it" 
{:inputs ["sig" "res" "r" "amp"]
 :label "Shaker:Resonator($sig $res $r) * $amp"
 :outputs [""]
 :parsed [:infix [:fn "Shaker:Resonator" [:tuple [:free-var "sig"] [:free-var "res"] [:free-var "r"]]] "*" [:free-var "amp"]]
 :pos [82 80]}
 "0nncubcgya815m6" 
{:inputs []
 :label "0"
 :outputs [""]
 :parsed [:float "0"]
 :pos [-327 -315]}
 "1h26rt21h3bhwkc" 
{:inputs []
 :label "[(2300 0.96 0.1) (5600 0.99 0.8) (8100 0.99 1.0)]"
 :outputs [""]
 :parsed [:list [:tuple [:float "2300"] [:float "0.96"] [:float "0.1"]] [:tuple [:float "5600"] [:float "0.99"] [:float "0.8"]] [:tuple [:float "8100"] [:float "0.99"] [:float "1.0"]]]
 :pos [86 -155]}
 "3ou2n95y47uc5f6" 
{:inputs []
 :label "#1"
 :outputs [""]
 :parsed [:invariant "1"]
 :pos [-573 -126]}
 "5rw41gvoc3ou5j9" 
{:inputs []
 :label "0.3"
 :outputs [""]
 :parsed [:float "0.3"]
 :pos [-512 -233]}
 "koeeadb7mnxymgw" 
{:ephemeral-inputs #{"numbers1"}
 :inputs ["numbers1" "numbers..."]
 :label "Sum($numbers...)"
 :outputs [""]
 :parsed [:fn "Sum" [:tuple [:free-var "numbers1"] [:free-var "numbers..."]]]
 :pos [531 -135]}
 "o6b5rp27w5vt4ti" 
{:inputs ["sig" "seed" "rate" "sys-decay" "sound-decay" "smoothing"]
 :label "Shaker:Synth($sig $seed $rate $sys-decay $sound-decay $smoothing)"
 :outputs [""]
 :parsed [:fn "Shaker:PHISEM" [:tuple [:free-var "sig"] [:free-var "seed"] [:free-var "rate"] [:free-var "sys-decay"] [:free-var "sound-decay"] [:free-var "smoothing"]]]
 :pos [-342 -44]}
 "oldoa9dp9dnp2c6" 
{:inputs []
 :label "80"
 :outputs [""]
 :parsed [:number-widget :float "-boeq00" "106" ""]
 :pos [-551 -186]}
 "ro3mts6tg3a539k" 
{:ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [419 3]}
 "sbuzx1ycq9mctzy" 
{:inputs []
 :label "acceleration = arg"
 :outputs ["acceleration"]
 :parsed "arg"
 :pos [-639 19]}
 "vi9yyxax38ast8t" 
{:inputs []
 :label "0.005"
 :outputs [""]
 :parsed [:float "0.005"]
 :pos [-439 -289]}}
 :scale 0.9265629353920122
 :scroll [0 0]}}