{:identifier "Vector-Shaker"
 :identity "uqv662p5zee2jty"
 :patch
{:cables
{["2sgngeelp7uexc2" 0] [:fixed "9ybu1osj693929q" 0]
 ["2sgngeelp7uexc2" 1] [:fixed "7iyue92lo25l0v4" 0]
 ["2sgngeelp7uexc2" 2] [:fixed "8gyne0g3icj9stf" 0]
 ["2sgngeelp7uexc2" 3] [:fixed "gvqp4vr4nk13nlj" 0]
 ["2sgngeelp7uexc2" 4] [:fixed "qtr4k2qr2c3286k" 0]
 ["9ybu1osj693929q" 0] [:fixed "itx3xv82zqiinod" 0]
 ["dlxefvenlsec89f" 0] [:fixed "2sgngeelp7uexc2" 0]
 ["dlxefvenlsec89f" 1] [:fixed "1sytl1e7ygzwhin" 0]
 ["dlxefvenlsec89f" 2] [:fixed "23f5kk5hyivxyga" 0]
 ["ew958s7i7x0so3q" 0] [:fixed "rbq8izyceb0oorb" 0]
 ["ew958s7i7x0so3q" 1] [:fixed "j3w003j8jxir4xx" 0]
 ["ppddg7ecb1si7gv" 0] [:fixed "dlxefvenlsec89f" 0]}
 :nodes
{"1sytl1e7ygzwhin" 
{:inputs []
 :label "Vector:Cons(440 550 660 770)"
 :outputs [""]
 :parsed [:fn "Vector:Cons" [:tuple [:float "440"] [:float "550"] [:float "660"] [:float "770"]]]
 :pos [-31 -353]
 }
 "23f5kk5hyivxyga" 
{:inputs []
 :label "0.9999"
 :outputs [""]
 :parsed [:float "0.9999"]
 :pos [357 -244]
 }
 "27d46syr57iun75" 
{:inputs []
 :label "4"
 :outputs [""]
 :parsed [:float "4"]
 :pos [218 -121]
 }
 "2sgngeelp7uexc2" 
{:inputs ["sig" "streams" "beans" "system-decay" "sound-decay"]
 :label "Shaker:Synth($sig $streams $beans $system-decay $sound-decay)"
 :outputs [""]
 :parsed [:fn "Shaker:Synth" [:tuple [:free-var "sig"] [:free-var "streams"] [:free-var "beans"] [:free-var "system-decay"] [:free-var "sound-decay"]]]
 :pos [59 -55]
 }
 "7iyue92lo25l0v4" 
{:inputs []
 :label "#4"
 :outputs [""]
 :parsed [:invariant "4"]
 :pos [-84 -153]
 }
 "8gyne0g3icj9stf" 
{:inputs []
 :label "3"
 :outputs [""]
 :parsed [:number-widget :float "h62xye" "2" ""]
 :pos [-50 -272]
 }
 "9ybu1osj693929q" 
{:inputs ["a"]
 :label "/ 1000"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "1000"]]
 :pos [-455 -227]
 }
 "dlxefvenlsec89f" 
{:inputs ["sig" "res" "r"]
 :label "Shaker:Resonator($sig $res $r)"
 :outputs [""]
 :parsed [:fn "Shaker:Resonator" [:tuple [:free-var "sig"] [:free-var "res"] [:free-var "r"]]]
 :pos [328 18]
 }
 "ew958s7i7x0so3q" 
{:inputs ["rate" "sharpness"]
 :label "Shaker:Stimulus($rate $sharpness)"
 :outputs [""]
 :parsed [:fn "Shaker:Stimulus" [:tuple [:free-var "rate"] [:free-var "sharpness"]]]
 :pos [-222 127]
 }
 "gvqp4vr4nk13nlj" 
{:inputs []
 :label "0.9999"
 :outputs [""]
 :parsed [:float "0.9999"]
 :pos [-2 -207]
 }
 "gx61cbppsm6265m" 
{:inputs []
 :label "440"
 :outputs [""]
 :parsed [:float "440"]
 :pos [218 -121]
 }
 "itx3xv82zqiinod" 
{:inputs []
 :label "Adafruit()"
 :outputs [""]
 :parsed [:fn "Adafruit" [:tuple]]
 :pos [-643 -227]
 }
 "j3w003j8jxir4xx" 
{:inputs []
 :label "2"
 :outputs [""]
 :parsed [:float "2"]
 :pos [-349 44]
 }
 "ppddg7ecb1si7gv" 
{:inputs ["a"]
 :label "* 0.1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "0.1"]]
 :pos [515 13]
 :selected true}
 "qtr4k2qr2c3286k" 
{:inputs []
 :label "0.95"
 :outputs [""]
 :parsed [:float "0.95"]
 :pos [110 -256]
 }
 "rbq8izyceb0oorb" 
{:inputs []
 :label "0.5"
 :outputs [""]
 :parsed [:float "0.5"]
 :pos [-415 116]
 }}
 :scale 1
 :scroll [0 0]}}