{:identifier "Vector-Shaker"
 :identity "uqv662p5zee2jty"
 :patch
{:cables
{["05r1gvcvkcnbmvc" 0] [:fixed "ew958s7i7x0so3q" 0]
 ["05r1gvcvkcnbmvc" 1] [:fixed "7iyue92lo25l0v4" 0]
 ["05r1gvcvkcnbmvc" 2] [:fixed "8gyne0g3icj9stf" 0]
 ["05r1gvcvkcnbmvc" 3] [:fixed "5g6yqrbr6b7ab7r" 0]
 ["05r1gvcvkcnbmvc" 4] [:fixed "bl9cq18xc88415c" 0]
 ["40ayvncrapn9ii9" 0] [:fixed "dlxefvenlsec89f" 0]
 ["9ybu1osj693929q" 0] [:fixed "itx3xv82zqiinod" 0]
 ["dlxefvenlsec89f" 0] [:fixed "05r1gvcvkcnbmvc" 0]
 ["dlxefvenlsec89f" 1] [:fixed "1sytl1e7ygzwhin" 0]
 ["dlxefvenlsec89f" 2] [:fixed "23f5kk5hyivxyga" 0]
 ["ew958s7i7x0so3q" 0] [:fixed "rbq8izyceb0oorb" 0]
 ["ew958s7i7x0so3q" 1] [:fixed "j3w003j8jxir4xx" 0]}
 :nodes
{"05r1gvcvkcnbmvc" 
{:inputs ["sig" "streams" "beans" "decay" "smooth"]
 :label "Shaker:Synth($sig $streams $beans $decay $smooth)"
 :outputs [""]
 :parsed [:fn "Shaker:Synth" [:tuple [:free-var "sig"] [:free-var "streams"] [:free-var "beans"] [:free-var "decay"] [:free-var "smooth"]]]
 :pos [6 -26]
 }
 "1sytl1e7ygzwhin" 
{:inputs []
 :label "Vector:Cons(440 550 660 770)"
 :outputs [""]
 :parsed [:fn "Vector:Cons" [:tuple [:float "440"] [:float "550"] [:float "660"] [:float "770"]]]
 :pos [-31 -353]
 }
 "23f5kk5hyivxyga" 
{:inputs []
 :label "0.9999"
 :outputs [""]
 :parsed [:float "0.9999"]
 :pos [357 -244]
 }
 "27d46syr57iun75" 
{:inputs []
 :label "4"
 :outputs [""]
 :parsed [:float "4"]
 :pos [218 -121]
 }
 "40ayvncrapn9ii9" 
{:inputs ["a"]
 :label "* 100"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "100"]]
 :pos [533 -20]
 }
 "5g6yqrbr6b7ab7r" 
{:inputs []
 :label "50"
 :outputs [""]
 :parsed [:float "50"]
 :pos [-80 -181]
 }
 "7iyue92lo25l0v4" 
{:inputs []
 :label "#4"
 :outputs [""]
 :parsed [:invariant "4"]
 :pos [-189 -125]
 }
 "8gyne0g3icj9stf" 
{:inputs []
 :label "3"
 :outputs [""]
 :parsed [:number-widget :float "h62xye" "19" ""]
 :pos [-155 -269]
 }
 "9ybu1osj693929q" 
{:inputs ["a"]
 :label "/ 1000"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "1000"]]
 :pos [-455 -227]
 }
 "bl9cq18xc88415c" 
{:inputs []
 :label "150"
 :outputs [""]
 :parsed [:float "150"]
 :pos [-12 -267]
 }
 "dlxefvenlsec89f" 
{:inputs ["sig" "res" "r"]
 :label "Shaker:Resonator($sig $res $r)"
 :outputs [""]
 :parsed [:fn "Shaker:Resonator" [:tuple [:free-var "sig"] [:free-var "res"] [:free-var "r"]]]
 :pos [328 18]
 }
 "ew958s7i7x0so3q" 
{:inputs ["rate" "sharpness"]
 :label "Shaker:Stimulus($rate $sharpness)"
 :outputs [""]
 :parsed [:fn "Shaker:Stimulus" [:tuple [:free-var "rate"] [:free-var "sharpness"]]]
 :pos [-222 127]
 }
 "gx61cbppsm6265m" 
{:inputs []
 :label "440"
 :outputs [""]
 :parsed [:float "440"]
 :pos [218 -121]
 }
 "itx3xv82zqiinod" 
{:inputs []
 :label "Adafruit()"
 :outputs [""]
 :parsed [:fn "Adafruit" [:tuple]]
 :pos [-643 -227]
 }
 "iuza809v57nxv84" 
{:inputs []
 :label "§"
 :outputs [""]
 :pos [220 237]
 }
 "j3w003j8jxir4xx" 
{:inputs []
 :label "2"
 :outputs [""]
 :parsed [:float "2"]
 :pos [-349 44]
 }
 "rbq8izyceb0oorb" 
{:inputs []
 :label "0.5"
 :outputs [""]
 :parsed [:float "0.5"]
 :pos [-415 116]
 }}
 :scale 1
 :scroll [0 0]}}